<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable" align-title="left">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>

            <ion-nav-buttons side="right">
                <button class="button button-clear icon-right ion-android-arrow-dropdown" menu-toggle="right" ng-controller="HeaderController"> {{username}} </button>

            </ion-nav-buttons>

        </ion-nav-bar>
        <ion-nav-view name="content"></ion-nav-view>
    </ion-side-menu-content>


    <ion-side-menu side="right">

        <ion-content ng-controller="HeaderController">
            <ion-list>
                <ion-item class="sidebar" menu-close ui-sref='profil.detail'>
                    <i class="icon ion-android-create"></i> Profile
                </ion-item>
                <ion-item class="sidebar" menu-close ng-click="logOut()">
                    <i class="icon ion-power"></i> Log Out
                </ion-item>

            </ion-list>
        </ion-content>

    </ion-side-menu>


    <ion-side-menu side="left" expose-aside-when="large">

        <ion-header-bar class="bar-stable">

        </ion-header-bar>
        <ion-content ng-controller="SidebarController">

            <ion-list>
                <ion-item class="sidebar">
                   Customer


                    <ion-list>
                        <ion-item class="sidebar">
                            <a ui-sref="consultantarea.customer">Customer List</a>
                        </ion-item>
                        <ion-item class="sidebar">
                            <a ui-sref="consultantarea.customer_new">New Customer</a>
                        </ion-item>

                    </ion-list>

                </ion-item>

                <ion-item class="sidebar">
                    Notes
                    <ion-list>
                        <ion-item class="sidebar">
                            <a ui-sref="consultantarea.notes">Notes</a>
                        </ion-item>
                        <ion-item class="sidebar">
                            <a ui-sref="consultantarea.notes_new">New Note</a>
                        </ion-item>

                    </ion-list>

                </ion-item>

                <ion-item class="sidebar">
                    Scribble
                    <ion-list>
                        <ion-item class="sidebar">
                            <a ui-sref="consultantarea.consultant_newscribble">New Scribble</a>
                        </ion-item>
                        <ion-item class="sidebar">
                            <a ui-sref="consultantarea.scribbles">Saved Scribbles</a>
                        </ion-item>

                    </ion-list>

                </ion-item>

            </ion-list>

        </ion-content>

    </ion-side-menu>


</ion-side-menus>